---
layout: base.njk
title: land 👍
---

<main class="mainmain">
    <h1>{{ country[0].name.official }}</h1>
    <pre class="griddy">
        {{ country | dump(2) }}
        {% image country[0].flags.png, country[0].name.official %}
        <div class="coa item3">
        {% image country[0].coatOfArms.png, "hej", "100vw" %}
        </div>
    </pre>
</main>